
#simplemodal-overlay {
   background: black;
   opacity: 0.75;
}

#modaldapper-window {
   background: white;
   border-radius: 20px;
   padding: 10px;
}

#modaldapper-window-controls {
   position: absolute;
   left: 10px;
   bottom: 10px;
}

