
#simplemodal-overlay {
   background: black;
   opacity: 0.75;
}

#modaldapper-window {
   background: white url( ajax-loader.gif ) no-repeat center 40%;
   border-radius: 20px;
   padding: 10px;
}

#modaldapper-window-contents {
   background: white;
}

#modaldapper-window-controls {
   position: absolute;
   left: 10px;
   bottom: 10px;
}

