
#simplemodal-overlay {
   background: black;
   opacity: 0.75;
}

#modaldapper-window {
   /* Always show the loader in the background so it's present whenever the   *
    * main contents window is hidden.                                         */
   background: white url( ajax-loader.gif ) no-repeat center 40%;
   border-radius: 20px;
   margin: -20px 0 0 -20px;
   padding: 20px;
}

#modaldapper-window-contents {
   background: white;
   height: 275px;
}

#modaldapper-window-contents p {
   margin-bottom: 10px;
}

#modaldapper-window-controls {
   position: absolute;
   left: 10px;
   bottom: 10px;
}

#modaldapper-window .passStengthify {
   position: relative;
   left: 15px;
   top: 5px;
}

#modaldapper-window .error {
   color: red;
   margin: 30px 10px 0px 10px;
}

