
[globals]

site_name="My Site"
site_email="noreply@example.com"
site_pwd_min_length=10

ldap_host="localhost"
ldap_port=389
ldap_service_user="cn=pwdchanger,dc=example,dc=com"
ldap_service_pass=""
ldap_base_dn="ou=people,dc=example,dc=com"
ldap_cn_field="cn"
ldap_password_field="userPassword"
ldap_version=3

db_config="mysql:host=localhost;dbname=ldap_reset"
db_user="ldap_reset"
db_pass=""
db_salt="" // Must be 16 characters long.

admin_email="admin@example.com"

